doctype html
html
    include includes/shared/base-head.pug
        include includes/editing/editing-head.pug
    body
        include includes/sidebar/sidebar.pug
        include includes/shared/header.pug
        include includes/editing/edit-page-content.pug