doctype html
html
    include includes/base-head.pug
        include includes/editing-head.pug
    body
        include includes/sidebar.pug
        include includes/header.pug
        include includes/edit-page-content.pug