doctype html
html
    include includes/shared/base-head.pug
        include includes/index/index-head.pug
    body
        include includes/sidebar/sidebar.pug
        include includes/shared/header.pug
        include includes/index/page-content.pug