doctype html
html
    include includes/base-head.pug
        include includes/pop-up-confirmation-head.pug
    body
        div(class='popap-template')
            div(class='popap-confirmation__wrapper') 
                block content 
                    include includes/svg/icon-close.pug