extends includes/shared/pop-up-template.pug

block content
    include includes/svg/icon-notofications.pug
    h1(class='pop-up-confirmation__description') Вы уверены, что хотите удалить скилл?
    div(class='pop-up-confirmation__wrapper-button')
        button(class='pop-up-confirmation__button-restore button button_cancel') Восстановить
        button(class='pop-up-confirmation__button-cancel button button_confirmation') Удалить
    div(class='pop-up-confirmation__close')
        include includes/svg/icon-close.pug
