@light-gray: #F5F5F6;
@gray: #959BA4;
@dark-grey: #79818C;
@gray9E9E9E:#9E9E9E;
@grayE7E8EA: #E7E8EA;
@lite-blue: #ECF1F7;
@black: #333333;
@white: #FFFFFF;
@yellow: #FFDD2D;

@header-background: @light-gray;
@icon-background: @light-gray;
@icon: @dark-grey;
@icon-hover: @gray;
@icon-background-hover: @white;
@product-border: @grayE7E8EA;
@header-text: @gray9E9E9E;
@main-text:  @black;
@input-text: @dark-grey;
@input-background: @lite-blue;
@popap-yellow-botton: @yellow;
