.button {
    outline: none;
    border: none;
    height: @input-heigth;

    &_cancel {
        background: @button-cancel-background;
        border: 1px solid @button-cancel-border-color;
        color: @button-cancel-font-color;
    }

    &_confirmation {
        align-items: center;
        text-align: center;
        background: @button-save-background;
        border-radius: @input-border-radius;
    }
}