@import '../vars/colors.less';
@import '../vars/dimensions.less';

.page-header {
    height: 44px;
    background-color: @gray-background;
    margin-left: @indent-from-sidebar;
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        min-width: 1104px;
        margin: auto;
    }

    &__title {
        width: 158px;
        height: 24px;
        display: flex;
        justify-content: space-between;
    }

    &__log-off {
        height: 24px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: @gray-text;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
    }
}



@media (max-width: 1360px) {
    .page-header__wrapper {
        min-width: 824px;
    }
}

@media (max-width: 1004px) {
    .page-header__wrapper {
        margin-left: 40px;
    }
}