@import '../vars/dimensions.less';
@import '../vars/colors.less';

.navigation-item {
    width: @icon-width;
    height: @icon-heigth;
    border-radius: 50%;
    
    &__link {
    display: block;
    box-sizing: inherit;
    }

    &:hover .svg {

        &__background {
            fill: @is-active-element;
        }

        &__content {
            fill:@white-background;
        }
    }
}