@import '../vars/dimensions.less';
@import '../vars/colors.less';

.navigation-item {
    width: @navigation-icon-side;
    height: @navigation-icon-side;
    border-radius: @icon-border-radius;
    background-color: @icon-background;
    color: @icon;

    &:hover{
        background-color: @icon-hover;
        color: @icon-background-hover;
    }

    &__link {
        display: block; 
    }
}

svg {
    display: block;
}