@import '../vars/colors.less';
@import '../vars/dimensions.less';

.profession-about {
    &__description {
        margin: @indent-from-title 0 0 0;
    }

    &__wrapper{
        margin-top: @vertical-indent;
        position: relative;
    }

    &__svg {
        position: absolute;
        top: 23px;
        left: 12px;
        display: block;
    }
    &__title {
        font-size: @title-text-size;
        margin: 0;
    }

    &__input {
        box-sizing: border-box;
        height: @input-heigth;
        width: 100%;
        color: @input-text;
        outline: none;
        border: none;
        border-radius: @input-border-radius;
        background: @input-background;
        padding-left: @input-right-padding;
        padding-right: @input-left-padding;

        &::placeholder {
            color: @input-text;
        }
    }
}   
