@import '../vars/colors.less';
.profession {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__product {
        margin-top: 40px;
    }
}

        
.profession-product {    
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 528px;
    padding: 32px 20px 40px 20px;
    word-break: break-word; 
    min-height: 208px;
    border: 1px solid @product-border;
    border-radius: @element-wrapper-borde-radius;

    @media (max-width: @browser-min-width) {
            flex-basis: 388px;
            }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        font-size: 28px;
        line-height: 32px;
        padding-right: 20px;
    }

    &__description {
        line-height: 24px;
        padding-right: 5px;
    }

    &__icon {
        width: @product-icon-side;
        height: @product-icon-side;
        border-radius: @icon-border-radius; 
        background-color: @icon-background;
    }
}

