@import '../vars/colors.less';
.profession {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__product {
        width: 528px;
        min-height: 208px;
        margin-top: 40px;
        border: 1px solid #E7E8EA;
        border-radius: 8px;
    }
}

        
.profession-product {     

    &__wrapper {
        min-height: 84px;
        display: flex;
        justify-content: space-between;
        margin: 20px 20px 0 20px;
    }

    &__title {
        margin-top:12px;
        width: 384px;
        padding: 0 auto;
        font-size: 28px;
        line-height: 32px;
    }

    &__description {
        max-width: 448px;
        font-size: @text-size;
        line-height: 24px;
        margin: 0 0 40px 20px;
    }

    &__img {
        width: 64px;
        height: 64px;
        border-radius: 50%; 
        background-color: @gray-background;
    }
}


@media (max-width: 1360px) {
    .profession__list {
        justify-content: center;
    }
}
