.profession__about {

    &-section {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        font-family:'Roboto', sans-serif;
    }

    &-description {
        margin-top: 16px;
        font-size: 15px;
        color: #333333;
    }

    &-title {
        font-size: 40px;
        color: #333333;
    }

    &-input {
        width: 1104px;
        height: 56px;
        font-size: 15px;
        color: #79818C;
        margin-top: 20px;
        outline: none;
        border: 1px solid #ECF1F7;
        border-radius: 4px;
        background: url(../img/icon-search.svg) no-repeat 12px #ECF1F7;
        padding-left: 54px;

        &::placeholder {
            color: #79818C;
            font-size: 15px;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }
}   
