.skills-type {
    display: flex;
    flex-direction: column;

    &__wrapper {
        margin-top: 16px;
    }

    &__title{
        margin: 0;
    }
    &__label {
        margin-top: 16px;
    }

    &__radio {

    }
}