@import '../vars/dimensions.less';
@import '../vars/colors.less';

.skills-save {
    display: flex;
    font-size: @font-size;
    &__save {
        align-items: center;
        text-align: center;
        background: @button-save-background;
        outline: none;
        border: none;
        border-radius: @input-border-radius;
        height: @input-heigth;
        flex-basis: 233px;
        margin-right: 20px;
    }

    &__cansel {
        height: @input-heigth;
        flex-basis: 131px;
        border-radius: @input-border-radius;
        background: @button-cansel-background;
        border: 1px solid @button-cansel-border-color;
        color: @button-cansel-font-color;
        outline: none;
    }
}