@import '../vars/dimensions.less';

.telephony-queue {
    display: flex;
    flex-direction: column;

    &__input {
        margin-top: @vertical-indent;
    }
    &__button {        
        margin-top: @vertical-indent;
    }

    &__title {
        margin: 0;
    }
}