@import '../vars/dimensions.less';

.telephony-queue {
    display: flex;
    flex-direction: column;

    &__input {
        box-sizing: border-box;
        margin-top: @vertical-indent;
        height: @input-heigth;
        background: @input-background;
        border: 0;
        border-radius: @input-border-radius;
        outline: none;
        border: none;
        padding: 0 16px;
        color: @input-font-color;
        font-size: @font-size;
    }

    &__button {        
        margin-top: @vertical-indent;
        height: @input-heigth;
        background: @telephone-queue-background;
        border-radius: @input-border-radius;
        color: @telephone-queue-font-color;
        font-size: @font-size;
        text-align: center;
        line-height: 24px;
        border: 1px solid @telephone-queue-border-color;
    }

    &__title {
        margin: 0;
    }
}