section(class='profession__about profession-about')
    h1(class='profession-about__title') Профессии
    p(class='profession-about__description') На этой странице присутствуют професии существующие на WebOffice. 
    input(class='profession-about__input' type='search' placeholder='Поиск по названию профессии')