section(class='profession__list')
    div(class="profession__product")
        p(class="profession__product-title") SME
        div(class="profession__product-img")
            img(class="profession__product-icon" src="../img/people.svg" alt="")
        p(class="profession__product-description") Продажа расчетных счетов и других продуктов клиентам - юрлицам
    div(class="profession__product")
        p(class="profession__product-title") SME
        div(class="profession__product-img")
            img(class="profession__product-icon" src="../img/people.svg" alt="")
        p(class="profession__product-description") Продажа расчетных счетов и других продуктов клиентам - юрлицам
    div(class="profession__product")
        p(class="profession__product-title") SME
        div(class="profession__product-img")
            img(class="profession__product-icon" src="../img/people.svg" alt="")
        p(class="profession__product-description") Продажа расчетных счетов и других продуктов клиентам - юрлицам
    div(class="profession__product")
        p(class="profession__product-title") SME
        div(class="profession__product-img")
            img(class="profession__product-icon" src="../img/people.svg" alt="")
        p(class="profession__product-description") Продажа расчетных счетов и других продуктов клиентам - юрлицам
    div(class="profession__product")
        p(class="profession__product-title") SME
        div(class="profession__product-img")
            img(class="profession__product-icon" src="../img/people.svg" alt="")
        p(class="profession__product-description") Продажа расчетных счетов и других продуктов клиентам - юрлицам
    