section(class='profession__about-section')
    p(class='profession__about-title') Профессии
    p(class='profession__about-description') На этой странице присутствуют професии существующие на WebOffice. 
    input(class='profession__about-input' type='search' placeholder='Поиск по названию профессии')