nav(class="sidebar__navigation")
    div(class="sidebar__navigation-item")
        a(class="navigation-item__link" href="") 
            img(class="navigation-item__icon" src="img/home.svg" title="")
    div(class="sidebar__navigation-item")
        a(class="navigation-item__link" href="") 
            img(class="navigation-item__icon" src="img/article.svg" title="")
    div(class="sidebar__navigation-item")
        a(class="navigation-item__link" href="") 
            img(class="navigation-item__icon" src="img/graph.svg" title="")
    div(class="sidebar__navigation-item")
        a(class="navigation-item__link" href="") 
            img(class="navigation-item__icon" src="img/timetable.svg" title="")
    div(class="sidebar__navigation-item")
        a(class="navigation-item__link" href="") 
            img(class="navigation-item__icon" src="img/document.svg" title="")
    div(class="sidebar__navigation-item")
        a(class="navigation-item__link" href="") 
            img(class="navigation-item__icon" src="img/contacts.svg" title="")
    div(class="sidebar__navigation-item")
        a(class="navigation-item__link" href="") 
            img(class="navigation-item__icon" src="img/settings.svg" title="")
            