div(class='edit-skills__telephony-queue telephony-queue')
    h2(class='telephony-queue__title') Очереди телефонии
    input(class='telephony-queue__input input' type='text' placeholder='Очередь телефонии')
    input(class='telephony-queue__input input' type='text' placeholder='Очередь телефонии')
    button(class='telephony-queue__button button-cansel') Добавить очередь телефонии