div(class='sidebar__navigation-item navigation-item')
    a(class='navigation-item__link')
        include ../svg/nav-items/icon-home.pug
div(class='sidebar__navigation-item navigation-item')
    a(class='navigation-item__link')
        include ../svg/nav-items/icon-calendar.pug
div(class='sidebar__navigation-item navigation-item')
    a(class='navigation-item__link')
        include ../svg/nav-items/icon-graph.pug
div(class='sidebar__navigation-item navigation-item')
    a(class='navigation-item__link')
        include ../svg/nav-items/icon-notes.pug
div(class='sidebar__navigation-item navigation-item')
    a(class='navigation-item__link')
        include ../svg/nav-items/icon-document.pug
div(class='sidebar__navigation-item navigation-item')
    a(class='navigation-item__link')
       include ../svg/nav-items/icon-people.pug
div(class='sidebar__navigation-item navigation-item')
    a(class='navigation-item__link')
        include ../svg/nav-items/icon-settings.pug
