doctype html
html
    include base-head.pug
        block head
    body
        div(class='pop-up-template')
            div(class='pop-up-template__wrapper') 
                block content 
                        