main(class='page-content')
    div(class='page-content__wrapper')
        section(class='edit-skills')
            h1(class='edit-skills__title') Редактирование скилла
            input(class='edit-skills__input input' type='text' placeholder='Название скилла')
            include skills-type.pug
            include telephony-queue.pug
            include queue-groups.pug
            include skills-save.pug