div(class='edit-skills__queue-groups queue-groups')
    h2(class='queue-groups__title') Группы очередей
    select(class='queue-groups__select' type='text')
         option(class='queue-groups__option' value="Users") Users
         option(class='queue-groups__option' value="Operators") Operators
